@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7f7f7;
}
.nav-bar {
  height: 80px;
}
@screen lg {
  .nav-bar .sticky .grid .menu {
    display: none !important;
  }
}

@screen md {
  .nav-bar .sticky .grid .menu {
    display: none !important;
  }
}

.nav-bar .sticky .grid .menu {
  padding-top: 20px;
  z-index: 2;
  background-color: #fff !important;
}
.nav-bar .sticky .grid .ui .item {
  color: #000 !important;
  min-height: 50px;
}

.slider .image-gallery .image-gallery-content .image-gallery-slide-wrapper button svg {
  background-color: transparent;
  color: #e2e2e2;
}
.slider .image-gallery .image-gallery-content .image-gallery-slide-wrapper .image-gallery-swipe .image-gallery-slides {
  z-index: -2;
}
.slider
  .image-gallery
  .image-gallery-content
  .image-gallery-slide-wrapper
  .image-gallery-swipe
  .image-gallery-slides
  .image-gallery-slide {
  z-index: -1;
}
.slider .image-gallery .image-gallery-content .image-gallery-slide-wrapper button svg:hover {
  background-color: #ccc;
  color: #fff;
  border-radius: 20px;
}
@screen sm {
  .slider {
    z-index: -5;
  }

  .slider .image-gallery .image-gallery-content .image-gallery-slide-wrapper .image-gallery-bullets {
    display: none;
  }
  .nav-bar .sticky .grid .menu .flex {
    display: flex !important;
    align-items: center;
    flex-direction: unset !important;
    padding: 10px 15px;
    padding-right: 25px;
    font-size: 16px;
    font-weight: 500;
  }
}

.row .grid .product .grid .w-auto .product-item .thumnail img {
  height: 240px;
  width: 100%;
}
.dimmer .tiny .header div img {
  width: 8rem;
  height: 2rem;
}
.dimmer .tiny .actions {
  border-top: none !important;
  padding: 1rem 4rem !important;
  background-color: #fff !important;
}
